*{
  margin: 0;
  padding:0;
}

.small{
  display:inline-block;
  background-color: green;
  font-size:30px;
  margin-left: 10px;
}

.big{
  width:50px;
  height:100px;
  background-color: red;
  font-size:70px;
}
